.password-reset {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box-reset {
  box-shadow: 0px 0px 15px -5px black;
}

/* .login__form {
  margin-top: -2rem;
} */
