.registration-pagee {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.form-boxrr {
  box-shadow: 0px 0px 15px -5px black;
  margin-top: 20rem;
  margin-bottom: 2rem;
}
